openapi: 3.0.1
info:
  title: Opkit
  version: v1
  description: >-
    The fastest, easiest way to integrate with health insurance.<br><br>
    Opkit (YC S21) is a modern, easy-to-use developer toolkit for healthcare 
    payments. We provide simple APIs for verifying insurance and
    submitting health insurance claims.<br><br>To get started,
    see <a href=https://docs.opkit.co/>here</a>.
  contact:
    email: founders@opkit.co
externalDocs:
  url: https://docs.opkit.co/
  description: Read the documentation
servers:
  - url: https://api.opkit.co/v1
    description: Production
tags:
  - name: Eligibility Inquiries
    description: >-
      Create and read eligibility inquiries. An eligibility inquiry is a request
      for information about a subscriber's health insurance plan and coverages.
      The eligibility inquiry response can confirm whether a subscriber's plan is
      active or not, and whether it includes benefits that relate to specific services.
  - name: Payers
    description: >-
      Read payers. This endpoint returns a list of insurance carriers, also
      known as "payers", that you can interact with via the Opkit API. 
      Opkit supports thousands of payers across the United States.
  - name: Internal
    description: >-
      For Opkit internal use. These endpoints will not work for customer
      API keys. Please do not attempt to access them.
paths:
  /eligibility_inquiries:
    post:
      summary: Create a new eligibility inquiry
      description: >-
        Create a new eligibility inquiry for the given payer, provider and subscriber.
        The response will contain information about the subscriber's plan, including
        whether or not the plan is active, and whether or not the plan includes benefits
        relating to particular services. If you are interested in specific services,
        can include them in the request payload. Otherwise, Opkit will assume the default
        service, "health_benefit_plan_coverage", which returns general benefits.
      operationId: postEligibilityInquiries
      requestBody:
        description: >-
          A payload containing information about the subscriber you are inquiring about,
          the health insurance carrier (or "payer") you are issuing the inquiry to,
          and the provider you are issuing the inquiry on behalf of.
        content:
          "application/json":
            schema:
              type: object
              description: >-
                An object that containing information about the subscriber you are inquiring about,
                the health insurance carrier (or "payer") you are issuing the inquiry to,
                and the provider you are issuing the inquiry on behalf of.
              additionalProperties: false
              required:
                - payer_id
                - provider
                - subscriber
              properties:
                payer_id:
                  type: string
                  format: uuid
                  description: >-
                    The ID of the payer that you are issuing this inquiry to.
                    This an Opkit ID. You can get a list of payer IDs by calling the
                    the GET /v1/payers endpoint.
                # This may not be necessary if each customer only has one NPI + org name
                provider:
                  $ref: "#/components/schemas/Provider"
                subscriber:
                  $ref: "#/components/schemas/Subscriber"
                services:
                  type: array
                  description: >-
                    A list of services to return benefits for. The eligibility response
                    will only contain benefits relating to the services in this list. If you do not
                    specify any services in your request, the server will default to the generic service
                    "health_benefit_plan_coverage", which is used for benefits that do not relate
                    to any particular medical service. These include, foror example, the subscriber's overall
                    deductible and out-of-pocket maximum.
                  items:
                    $ref: "#/components/schemas/Service"
                  default: ["health_benefit_plan_coverage"]
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/EligibilityInquiry"
        default:
          $ref: "#/components/responses/Default"
      tags:
        - Eligibility Inquiries
    # This should be paginated
    get:
      summary: Get all existing eligibility inquiries
      description: >-
        Get a list of eligibility inquiries that you have created in the past.
      operationId: getEligibilityInquiries
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                description: >-
                  An object containing a list of eligibility inquiries 
                  and a count that indicates the number of items in the list.
                additionalProperties: false
                required:
                  - count
                  - items
                properties:
                  count:
                    type: number
                    description: The number of items in this list.
                  items:
                    type: array
                    description: A list of eligibility inquiries.
                    items:
                      $ref: "#/components/schemas/EligibilityInquiry"
        default:
          $ref: "#/components/responses/Default"
      tags:
        - Eligibility Inquiries
  /eligibility_inquiries/{id}:
    get:
      summary: Get a single eligibility inquiry
      description: >-
        Get a single eligibility inquiry that you have created in the past.
      operationId: getEligibilityInquiriesId
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
            description: The ID of the eligibility inquiry.
          required: true
          description: The ID of the eligibility inquiry.
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/EligibilityInquiry"
        default:
          $ref: "#/components/responses/Default"
      tags:
        - Eligibility Inquiries
  /payers:
    # This should be paginated
    get:
      summary: Get all payers
      description: >-
        Get a complete list of the payers supported by Opkit.
        This endpoint returns a list payers that you can interact with via
        the Opkit API. Opkit supports thousands of payers across the United States.
      operationId: getPayers
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                description: >-
                  An object containing a list of payers and a count
                  that indicates the number of items in this list.
                additionalProperties: false
                required:
                  - count
                  - items
                properties:
                  count:
                    type: number
                    description: The number of items in this list.
                  items:
                    type: array
                    description: A list of payers.
                    items:
                      $ref: "#/components/schemas/Payer"
        default:
          $ref: "#/components/responses/Default"
      tags:
        - Payers
  /register:
    post:
      summary: >-
        Create a new customer user, customer organizaton, and API key
      description: >-
        Create a new customer user, customer organizaton, and API key in
        a single request. This endpoint is for Opkit internal use only and
        will return unauthorized for customer API keys. Please do not attempt
        to access it.
      operationId: postRegister
      requestBody:
        description: >-
          A payload containing the full name to use for the new customer user,
          the email address to use for the new customer user, and (optionally)
          the name to use for the new customer organization. If customer_organization_name
          is absent, the server will use a default value for the new customer organization
          name.
        content:
          "application/json":
            schema:
              type: object
              description: >-
                An object containing the full name to use for the new customer user,
                the email address to use for the new customer user, and (optionally)
                the name to use for the new customer organization. If customer_organization_name
                is absent, the server will use a default value for the new customer organization
                name.
              additionalProperties: false
              required:
                - customer_user_name
                - customer_user_email
              properties:
                customer_user_name:
                  type: string
                  description: The full name to use for the new customer user.
                customer_user_email:
                  type: string
                  format: email
                  description: The email address to use for the new customer user.
                customer_organization_name:
                  type: string
                  description: >-
                    The name to use for the new customer organization. If this field is
                    not provided, the server will use a default value for the customer
                    organization name.
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                description: >-
                  An object containing various fields from the new customer user,
                  customer organization, and API key. This object will contain the secret
                  value of the API key, which should NEVER be shared publicly.
                additionalProperties: false
                required:
                  - customer_user_id
                  - customer_user_name
                  - customer_user_email
                  - customer_organization_id
                  - customer_organization_name
                  - api_key_id
                  - api_key_name
                  - api_key_value
                properties:
                  customer_user_id:
                    type: string
                    format: uuid
                    description: The ID of the new customer user.
                  customer_user_name:
                    type: string
                    description: The name of the new customer user.
                  customer_user_email:
                    type: string
                    description: The email of the new customer user.
                  customer_organization_id:
                    type: string
                    format: uuid
                    description: The ID of the new customer organization.
                  customer_organization_name:
                    type: string
                    format: uuid
                    description: The name of the new customer organization.
                  api_key_id:
                    type: string
                    format: uuid
                    description: The ID of the new API key.
                  api_key_name:
                    type: string
                    format: uuid
                    description: The name of the new API key.
                  api_key_value:
                    type: string
                    format: uuid
                    description: >-
                      The value of the new API key. This value is secret and
                      should never be shared publicly!
        default:
          $ref: "#/components/responses/Default"
      tags:
        - Internal
components:
  schemas:
    Service:
      type: string
      description: >-
        An enum that describes medical services. "health_benefit_plan_coverage" is a
        generic value that is used to retrieve benefits that do not relate to any particular medical
        service. For example, a subscriber's out-of-pocket maximum. These enum values were taken
        from the <a href=https://edi.stedi.com/x12-005010/element/1365>Stedi X12 EDI
        documentation</a>.
      enum:
        - abortion
        - acupuncture
        - adjunctive_dental_services
        - aids
        - air_transportation
        - alcoholism
        - allergy
        - allergy_testing
        - alternate_method_dialysis
        - ambulatory_service_center_facility
        - anesthesia
        - anesthesiologist
        - audiology_exam
        - benefit_disclaimer
        - blood_charges
        - brand_name_prescription_drug
        - brand_name_prescription_drug_formulary
        - brand_name_prescription_drug_non_formulary
        - burn_care
        - cabulance
        - cancer
        - cardiac
        - cardiac_rehabilitation
        - case_management
        - chemotherapy
        - chiropractic
        - chiropractic_office_visits
        - chronic_renal_disease_crd_equipment
        - cognitive_therapy
        - consultation
        - coronary_care
        - day_care_psychiatric
        - dental_accident
        - dental_care
        - dental_crowns
        - dermatology
        - diabetic_supplies
        - diagnostic_dental
        - diagnostic_lab
        - diagnostic_medical
        - diagnostic_x_ray
        - dialysis
        - donor_procedures
        - drug_addiction
        - durable_medical_equipment
        - durable_medical_equipment_purchase
        - durable_medical_equipment_rental
        - emergency_services
        - endocrine
        - endodontics
        - escrow_or_impound_service
        - experimental_drug_therapy
        - eye
        - eyewear_and_eyewear_accessories
        - family_planning
        - flu_vaccination
        - frames
        - free_standing_prescription_drug
        - gastrointestinal
        - general_benefits
        - generic_prescription_drug
        - generic_prescription_drug_formulary
        - generic_prescription_drug_non_formulary
        - gynecological
        - health_benefit_plan_coverage
        - home_health_care
        - home_health_prescriptions
        - home_health_visits
        - hospice
        - hospital
        - hospital_ambulatory_surgical
        - hospital_emergency_accident
        - hospital_emergency_medical
        - hospital_inpatient
        - hospital_outpatient
        - hospital_room_and_board
        - immunizations
        - in_vitro_fertilization
        - independent_medical_evaluation
        - infertility
        - inhalation_therapy
        - intensive_care
        - invasive_procedures
        - lenses
        - licensed_ambulance
        - long_term_care
        - lymphatic
        - mail_order_prescription_drug
        - mail_order_prescription_drug_brand_name
        - mail_order_prescription_drug_generic
        - major_medical
        - mammogram_high_risk_patient
        - mammogram_low_risk_patient
        - massage_therapy
        - maternity
        - maxillofacial_prosthetics
        - medical_care
        - medically_related_transportation
        - mental_health
        - mental_health_facility_inpatient
        - mental_health_facility_outpatient
        - mental_health_provider_inpatient
        - mental_health_provider_outpatient
        - mri_cat_scan
        - neonatal_intensive_care
        - neurology
        - newborn_care
        - non_escrow_or_non_impound_service
        - nonmedically_necessary_physical
        - nursery
        - obstetrical
        - obstetrical_gynecological
        - occupational_therapy
        - oncology
        - oral_surgery
        - orthodontics
        - orthopedic
        - other_medical
        - otological_exam
        - partial_hospitalization_psychiatric
        - pathology
        - pediatric
        - periodontics
        - pharmacy
        - physical_medicine
        - physical_therapy
        - physician_visit_office_sick
        - physician_visit_office_well
        - plan_waiting_period
        - pneumonia_vaccine
        - podiatry
        - podiatry_nursing_home_visits
        - podiatry_office_visits
        - pre_admission_testing
        - private_duty_nursing
        - private_duty_nursing_home
        - private_duty_nursing_inpatient
        - professional_physician
        - professional_physician_visit_home
        - professional_physician_visit_inpatient
        - professional_physician_visit_nursing_home
        - professional_physician_visit_office
        - professional_physician_visit_outpatient
        - professional_physician_visit_skilled_nursing_facility
        - prosthetic_device
        - prosthodontics
        - psychiatric
        - psychiatric_inpatient
        - psychiatric_outpatient
        - psychiatric_room_and_board
        - psychotherapy
        - pulmonary
        - pulmonary_rehabilitation
        - radiation_therapy
        - rehabilitation
        - rehabilitation_inpatient
        - rehabilitation_outpatient
        - rehabilitation_room_and_board
        - renal
        - renal_supplies_in_the_home
        - residential_psychiatric_treatment
        - respite_care
        - restorative
        - routine_exam
        - routine_physical
        - routine_preventive_dental
        - screening_laboratory
        - screening_x_ray
        - second_surgical_opinion
        - skilled_nursing_care
        - skilled_nursing_care_room_and_board
        - skin
        - smoking_cessation
        - social_work
        - speech_therapy
        - substance_abuse
        - substance_abuse_facility_inpatient
        - substance_abuse_facility_outpatient
        - surgical
        - surgical_assistance
        - surgical_benefits_facility
        - surgical_benefits_professional_physician
        - third_surgical_opinion
        - transitional_care
        - transitional_nursery_care
        - transplants
        - urgent_care
        - used_durable_medical_equipment
        - vision_optometry
        - well_baby_care
    Plan:
      type: object
      additionalProperties: false
      description: >-
        An object representing a health insurance plan offered by a payer.
        The start_date and end_date indicate the time period during which the
        subscriber is covered by this plan.
      required:
        - active
      properties:
        number:
          type: string
          description: >-
            A short string, usually containing numbers only, that the payer uses to
            identify this plan. This is not to be confused with an Opkit ID.
            Some payers will not return a plan number.
        description:
          type: string
          description: >-
            A description that the payer has assigned to this plan.
            Some payers will not return a plan description.
        # Should this be optional?
        start_date:
          type: string
          format: date
          description: >-
            The start date of the insurance plan. Note that the start_date and end_date
            can not be used to determine whether the plan is currently active. For that,
            you should refer to the "active" field.
        # Should this be optional?
        end_date:
          type: string
          format: date
          description: >-
            The end date of the insurance plan. Note that the start_date and end_date
            can not be used to determine whether the plan is currently active. For that,
            you should refer to the "active" field.
        active:
          type: boolean
          description: >-
            A boolean value that indicates whether a plan is currently active or not.
            The plan may be inactive if the end_date has passed, the subscriber has stopped
            paying their premiums, or various other reasons.
    BenefitType:
      type: string
      description: >-
        An enum that indicates type of a benefit. The most common benefit types are
        "active_coverage", "co_insurance", "co_payment", "deductible" and "out_of_pocket_stop_loss".
        "active_coverage" indicates that the subscriber enjoys some coverage for the service
        described by this benefit. "co_insurance" and "co_payment" indicate that the subscriber
        must pay co-insurance or co-pay for the service. "deductible" indicates that the
        subscriber is responsible for the cost of the service until they meet their deductible.
        Finally, "out_of_pocket_stop_loss" indicates that the subscriber is protected by an
        out-of-pocket maximum for this service. These enum values were taken from the
        <a href=https://edi.stedi.com/x12-005010/element/1390>Stedi X12 EDI documentation</a>.
      enum:
        - active_coverage
        - active_full_risk_capitation
        - active_pending_investigation
        - active_services_capitated
        - active_services_capitated_to_primary_care_physician
        - benefit_description
        - benefit_disclaimer
        - cannot_process
        - card_s_reported_lost_stolen
        - co_insurance
        - co_insurance_maximum
        - co_payment
        - co_payment_maximum
        - contact_following_entity_for_eligibility_or_benefit_information
        - cost_containment
        - coverage_basis
        - deductible
        - exclusions
        - health_care_facility
        - inactive
        - inactive_pending_eligibility_update
        - inactive_pending_investigation
        - limitations
        - managed_care_coordinator
        - non_covered
        - not_deemed_a_medical_necessity
        - other_or_additional_payor
        - other_source_of_data
        - out_of_pocket_stop_loss
        - patient_reimbursement
        - pre_existing_condition
        - primary_care_provider
        - prior_year_s_history
        - reserve
        - second_surgical_opinion_required
        - services_restricted_to_following_provider
        - spend_down
        - unlimited
        - waiver
    BenefitCoverageLevel:
      type: string
      description: >-
        An enum that describes the level of coverage for a benefit.
        In most cases, this will be "individual", but for some plans there will
        be benefits that extend to parties other than the subscriber. This field is
        not applicable for many benefits and may be absent. These enum values
        were taken from the <a href=https://edi.stedi.com/x12-005010/element/1207>
        Stedi X12 EDI documentation</a>.
      enum:
        - children_only
        - dependents_only
        - employee_and_children
        - employee_and_five_or_more_dependents
        - employee_and_four_or_more_dependents
        - employee_and_one_dependent
        - employee_and_one_or_more_dependents
        - employee_and_spouse
        - employee_and_three_dependents
        - employee_and_three_or_more_dependents
        - employee_and_two_dependents
        - employee_and_two_or_more_dependents
        - employee_only
        - family
        - individual
        - spouse_and_children
        - spouse_only
        - subscriber_and_1_child
        - subscriber_and_1_or_more_children
        - subscriber_and_2_or_more_children
        - subscriber_and_spouse
        - subscriber_spouse_and_1_child
        - subscriber_spouse_and_1_or_more_children
        - subscriber_spouse_and_2_or_more_children
        - two_party
    BenefitTimePeriod:
      type: string
      description: >-
        An enum that describes a time period which may be present on a benefit.
        This field is not applicable for many benefits and may be absent.
        These enum values were taken from the <a href=https://edi.stedi.com/x12-005010/element/615>
        Stedi X12 EDI documentation</a>.
      enum:
        - 12_hours
        - 18_hours
        - 24_hours
        - admission
        - calendar_year
        - chargeable_periods
        - contract
        - credit_days
        - day
        - debit_days
        - episode
        - exceeded
        - excess_days
        - free_periods
        - hazardous_days
        - holidays
        - hour
        - initial_visit
        - lifetime
        - lifetime_remaining
        - month
        - mutually_defined
        - not_applicable
        - not_exceeded
        - other_allowance_periods
        - outlier
        - periods_held
        - remaining
        - saturdays_and_sundays
        - saturdays_sundays_and_holidays
        - service_year
        - six_hours
        - sundays_and_holidays
        - three_months
        - visit
        - week
        - year_to_date
        - years
    Benefit:
      type: object
      additionalProperties: false
      description: >-
        An object that represents a discrete benefit. A benefit is a feature of the subscriber's
        insurance plan. For example, the plan may include a $100 co-pay for in-network physician
        office visits. The benefit object is polymorphic and may contain different fields depending
        on the service, type, coverage_level, and other factors. You can determine whether a
        subscriber is eligible to receive a certain medical service under their insurance plan
        by reviewing the list of benefits that are included in the eligibility inquiry response body.
      required:
        - service
        - type
      properties:
        service:
          $ref: "#/components/schemas/Service"
        type:
          $ref: "#/components/schemas/BenefitType"
        coverage_level:
          $ref: "#/components/schemas/BenefitCoverageLevel"
        in_network:
          type: boolean
          description: >-
            A boolean value that indicates whether this benefit relates to
            in-network or out-of-network providers. This field is not applicable
            for many benefits and may be absent.
        amount:
          type: integer
          description: >-
            The dollar amount (in cents) that the subscriber is responsible for.
            This field is not applicable for many benefits and may be absent.
        percent:
          type: integer
          description: >-
            The percentage amount that the subscriber is responsible for.
            This field is not applicable for many benefits and may be absent.
        time_period:
          $ref: "#/components/schemas/BenefitTimePeriod"
    EligibilityInquiry:
      type: object
      additionalProperties: false
      description: >-
        A request for information from a payer about a health insurance policy's
        coverages, typically in relation to a particular subscriber.
      required:
        - id
        - provider
        - payer
        - subscriber
        - plan
        - benefits
      properties:
        id:
          type: string
          format: uuid
          description: A unique identifier.
        provider:
          $ref: "#/components/schemas/Provider"
        payer:
          $ref: "#/components/schemas/Payer"
        subscriber:
          $ref: "#/components/schemas/Subscriber"
        plan:
          $ref: "#/components/schemas/Plan"
        benefits:
          type: array
          description: >-
            A list of benefits that are included in the subscriber's insurance plan.
            A benefit is a feature of the subscriber's insurance plan. For example,
            the plan may include a $100 co-pay for in-network physician office visits.
            The benefits that appear in this list are determined by the services
            specified in the request payload. General benefits, such as the subscriber's
            overall deductible, fall under the "health_benefit_plan_coverage" service.
          items:
            $ref: "#/components/schemas/Benefit"
    Payer:
      type: object
      additionalProperties: false
      description: >-
        A health insurance carrier that offers one or more health insurance plans.
      required:
        - id
        - name
      properties:
        id:
          type: string
          format: uuid
          description: A unique identifier.
        name:
          type: string
          description: The name of the payer.
    # Do we need to support individuals too?
    Provider:
      type: object
      additionalProperties: false
      description: >-
        A healthcare provider organization that has been assigned a
        <a href=https://www.cms.gov/Regulations-and-Guidance/Administrative-Simplification/NationalProvIdentStand>
        National Provider Identifier (NPI)</a>.
      required:
        - organization_name
        - npi
      properties:
        # Is this necessary? If so, what do we do for individuals?
        organization_name:
          type: string
          description: The name of this provider organization.
        npi:
          type: string
          description: The NPI that has been assigned to this provider organization.
    Subscriber:
      type: object
      additionalProperties: false
      description: >-
        An individual who is covered under a health insurance plan.
        This is a subscriber, not a dependent. Opkit does not currently support
        eligibility inquiries for dependents. If you have this use-case, please
        let us know by contacting <a href=mailto:founders@opkit.co>founders@opkit.co</a>.
      required:
        - first_name
        - last_name
        - member_id
        - date_of_birth
      properties:
        first_name:
          type: string
          description: The subscriber's first name as it appears on their insurance card.
        last_name:
          type: string
          description: The subscriber's last name as it appears on their insurance card.
        member_id:
          type: string
          description: The subscriber's member ID as it appears on their insurance card.
        date_of_birth:
          type: string
          format: date
          description: The subscriber's date of birth as it appears on their insurance card.
    ErrorCode:
      type: string
      description: An error code indicating the category of problem.
      enum:
        - not_allowed
        - invalid_api_key
        - invalid_payload
        - not_found
        - unexpected
    Error:
      type: object
      additionalProperties: false
      description: >-
        An object that is returned when an error has occured.
        This includes both client- and server-side errors.
      required:
        - code
        - message
      properties:
        code:
          $ref: "#/components/schemas/ErrorCode"
        message:
          type: string
          description: >-
            A brief text description that expands upon this particular error code.
  responses:
    Default:
      description: A default error response if no other response is provided.
      content:
        "application/json":
          schema:
            $ref: "#/components/schemas/Error"
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: >-
        Basic HTTP authentication. To authenticate, please include this request header:
        "Authorization: Basic `<your-base64-encoded-API-key>`". If you are using a client
        that asks for a username and password (e.g. curl), provide your API key as the
        username and omit the password.
security:
  - BasicAuth: []
