openapi: 3.0.1
info:
  title: Opkit
  version: v1
  description: The modern API for health insurance.
  contact:
    name: Opkit
    url: https://opkit.co
  license:
    name: Terms of Use
    url: https://opkit.co/terms
servers:
  - url: https://api.opkit.co
tags:
  - name: Eligibility Inquiries
    description: Create and read eligibility inquiries. An eligibility inquiry is a request for information about a person's health insurance. The eligibility inquiry response can confirm that a patient has active health insurance or provide details of coverage for various specialties.
  - name: Payers
    description: Read payers. This endpoint returns the list of insurance carriers, also known as \"payers\", supported by Opkit's API. Opkit supports thousands of payers across the United States.
  - name: Internal
    description: For Opkit internal use. These endpoints will not work for customer API keys. Please do not attempt to access them.
paths:
  /v1/eligibility_inquiries:
    post:
      summary: Create a new eligibility inquiry
      description: Create a new eligibility inquiry for the given plan, provider and subscriber. The response should indicate whether the subscriber is eligible for any services offered by provider under this plan.
      operationId: postEligibilityInquiries
      requestBody:
        description: A payload containing the payer_id, provider, subscriber and encounter information that is relevant for this eligibility inquiry.
        content:
          "application/json":
            schema:
              type: object
              description: An object containing a payer_id, provider, subscriber and an encounter.
              additionalProperties: false
              required:
                - payer_id
                - provider
                - subscriber
                - encounter
              properties:
                payer_id:
                  type: string
                  format: uuid
                  description: The ID of the insurance plan that should receive the inquiry.
                # This may not be necessary if each customer only has one NPI + org name
                provider:
                  $ref: "#/components/schemas/Provider"
                subscriber:
                  $ref: "#/components/schemas/Subscriber"
                encounter:
                  $ref: "#/components/schemas/Encounter"
                services:
                  type: array
                  items:
                    $ref: '#/components/schemas/Service'
                  default: ["general_benefits"]
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/EligibilityInquiry"
        default:
          $ref: "#/components/responses/Default"
      tags:
        - Eligibility Inquiries
    # This should be paginated
    get:
      summary: Get all existing eligibility inquiries
      description: Get a complete list of the eligibility inquiries that you have created in the past.
      operationId: getEligibilityInquiries
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                description: An object containing a list of eligibility inquiries and a count of those eligibility inquiries.
                additionalProperties: false
                required:
                  - count
                  - items
                properties:
                  count:
                    type: number
                    description: The number of items in this list.
                  items:
                    type: array
                    description: A list of eligibility inquiries.
                    items:
                      $ref: "#/components/schemas/EligibilityInquiry"
        default:
          $ref: "#/components/responses/Default"
      tags:
        - Eligibility Inquiries
  /v1/eligibility_inquiries/{id}:
    get:
      summary: Get a single eligibility inquiry
      description: Get a single eligibility inquiry that you have created in the past.
      operationId: getEligibilityInquiriesId
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
            description: An eligibility inquiry ID.
          required: true
          description: ID of the eligibility inquiry to get.
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/EligibilityInquiry"
        default:
          $ref: "#/components/responses/Default"
      tags:
        - Eligibility Inquiries
  /v1/payers:
    # This should be paginated
    get:
      summary: Get all payers
      description: Get a complete list of the payers supported by Opkit.
      operationId: getPayers
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                description: An object containing a list of payers and a count of those payers.
                additionalProperties: false
                required:
                  - count
                  - items
                properties:
                  count:
                    type: number
                    description: The number of items in this list.
                  items:
                    type: array
                    description: A list of payers.
                    items:
                      $ref: "#/components/schemas/Payer"
        default:
          $ref: "#/components/responses/Default"
      tags:
        - Payers
  /v1/register:
    post:
      summary: Create a new customer user, customer organizaton, and API key
      description: Create a new customer user, customer organizaton, and API key in a single request. This endpoint is for Opkit internal use only. It will not work for customer API keys.
      operationId: postRegister
      requestBody:
        description: A payload containing the full name to use for the new customer user, the email address to use for the new customer user, and the name to use for the new customer_organization.
        content:
          "application/json":
            schema:
              type: object
              description: An object containing the full name to use for the new customer user, the email address to use for the new customer user, and the name to use for the new customer_organization.
              additionalProperties: false
              required:
                - customer_user_name
                - customer_user_email
                - customer_organization_name
              properties:
                customer_user_name:
                  type: string
                  description: The full name to use for the new customer user.
                customer_user_email:
                  type: string
                  format: email
                  description: The email address to use for the new customer user.
                customer_organization_name:
                  type: string
                  description: The name to use for the new customer organization.
      responses:
        "200":
          description: OK
          content:
            "application/json":
              schema:
                type: object
                description: "An object containing various fields from the new customer user, customer organization, and API key. This object will contain the secret value of the API key, which should never be shared publicly!"
                additionalProperties: false
                required:
                  - customer_user_id
                  - customer_user_name
                  - customer_user_email
                  - customer_organization_id
                  - customer_organization_name
                  - api_key_id
                  - api_key_name
                  - api_key_value
                properties:
                  customer_user_id:
                    type: string
                    format: uuid
                    description: The ID of the new customer user.
                  customer_user_name:
                    type: string
                    description: The name of the new customer user.
                  customer_user_email:
                    type: string
                    description: The email of the new customer user.
                  customer_organization_id:
                    type: string
                    format: uuid
                    description: The ID of the new customer organization.
                  customer_organization_name:
                    type: string
                    format: uuid
                    description: The name of the new customer organization.
                  api_key_id:
                    type: string
                    format: uuid
                    description: The ID of the new API key.
                  api_key_name:
                    type: string
                    format: uuid
                    description: The name of the new API key.
                  api_key_value:
                    type: string
                    format: uuid
                    description: The value of the new API key. This value is secret and should never be shared publicly!
        default:
          $ref: "#/components/responses/Default"
      tags:
        - Internal
components:
  schemas:
    Service:
      type: string
      enum:
        - medical_care
        - surgical
        - consultation
        - diagnostic_x_ray
        - diagnostic_lab
        - radiation_therapy
        - anesthesia
        - surgical_assistance
        - other_medical
        - non_escrow_or_non_impound_service
        - escrow_or_impound_service
        - blood_charges
        - used_durable_medical_equipment
        - durable_medical_equipment_purchase
        - ambulatory_service_center_facility
        - renal_supplies_in_the_home
        - alternate_method_dialysis
        - chronic_renal_disease_crd_equipment
        - pre_admission_testing
        - durable_medical_equipment_rental
        - pneumonia_vaccine
        - second_surgical_opinion
        - third_surgical_opinion
        - social_work
        - diagnostic_dental
        - periodontics
        - restorative
        - endodontics
        - maxillofacial_prosthetics
        - adjunctive_dental_services
        - health_benefit_plan_coverage
        - benefit_disclaimer
        - plan_waiting_period
        - chiropractic
        - chiropractic_office_visits
        - dental_care
        - dental_crowns
        - dental_accident
        - orthodontics
        - prosthodontics
        - oral_surgery
        - routine_preventive_dental
        - home_health_care
        - home_health_prescriptions
        - home_health_visits
        - hospice
        - respite_care
        - hospital
        - hospital_inpatient
        - hospital_room_and_board
        - hospital_outpatient
        - hospital_emergency_accident
        - hospital_emergency_medical
        - hospital_ambulatory_surgical
        - long_term_care
        - major_medical
        - medically_related_transportation
        - air_transportation
        - cabulance
        - licensed_ambulance
        - general_benefits
        - in_vitro_fertilization
        - mri_cat_scan
        - donor_procedures
        - acupuncture
        - newborn_care
        - pathology
        - smoking_cessation
        - well_baby_care
        - maternity
        - transplants
        - audiology_exam
        - inhalation_therapy
        - diagnostic_medical
        - private_duty_nursing
        - prosthetic_device
        - dialysis
        - otological_exam
        - chemotherapy
        - allergy_testing
        - immunizations
        - routine_physical
        - family_planning
        - infertility
        - abortion
        - aids
        - emergency_services
        - cancer
        - pharmacy
        - free_standing_prescription_drug
        - mail_order_prescription_drug
        - brand_name_prescription_drug
        - generic_prescription_drug
        - podiatry
        - podiatry_office_visits
        - podiatry_nursing_home_visits
        - professional_physician
        - anesthesiologist
        - professional_physician_visit_office
        - professional_physician_visit_inpatient
        - professional_physician_visit_outpatient
        - professional_physician_visit_nursing_home
        - professional_physician_visit_skilled_nursing_facility
        - professional_physician_visit_home
        - psychiatric
        - psychiatric_room_and_board
        - psychotherapy
        - psychiatric_inpatient
        - psychiatric_outpatient
        - rehabilitation
        - rehabilitation_room_and_board
        - rehabilitation_inpatient
        - rehabilitation_outpatient
        - occupational_therapy
        - physical_medicine
        - speech_therapy
        - skilled_nursing_care
        - skilled_nursing_care_room_and_board
        - substance_abuse
        - alcoholism
        - drug_addiction
        - vision_optometry
        - frames
        - routine_exam
        - lenses
        - nonmedically_necessary_physical
        - experimental_drug_therapy
        - burn_care
        - brand_name_prescription_drug_formulary
        - brand_name_prescription_drug_non_formulary
        - independent_medical_evaluation
        - partial_hospitalization_psychiatric
        - day_care_psychiatric
        - cognitive_therapy
        - massage_therapy
        - pulmonary_rehabilitation
        - cardiac_rehabilitation
        - pediatric
        - nursery
        - skin
        - orthopedic
        - cardiac
        - lymphatic
        - gastrointestinal
        - endocrine
        - neurology
        - eye
        - invasive_procedures
        - gynecological
        - obstetrical
        - obstetrical_gynecological
        - mail_order_prescription_drug_brand_name
        - mail_order_prescription_drug_generic
        - physician_visit_office_sick
        - physician_visit_office_well
        - coronary_care
        - private_duty_nursing_inpatient
        - private_duty_nursing_home
        - surgical_benefits_professional_physician
        - surgical_benefits_facility
        - mental_health_provider_inpatient
        - mental_health_provider_outpatient
        - mental_health_facility_inpatient
        - mental_health_facility_outpatient
        - substance_abuse_facility_inpatient
        - substance_abuse_facility_outpatient
        - screening_x_ray
        - screening_laboratory
        - mammogram_high_risk_patient
        - mammogram_low_risk_patient
        - flu_vaccination
        - eyewear_and_eyewear_accessories
        - case_management
        - dermatology
        - durable_medical_equipment
        - diabetic_supplies
        - generic_prescription_drug_formulary
        - generic_prescription_drug_non_formulary
        - allergy
        - intensive_care
        - mental_health
        - neonatal_intensive_care
        - oncology
        - physical_therapy
        - pulmonary
        - renal
        - residential_psychiatric_treatment
        - transitional_care
        - transitional_nursery_care
        - urgent_care
    Plan:
      type: object
      additionalProperties: false
      description: TODO
      required:
        - number
        - description
        - start_date
        - end_date
        - active
      properties:
        number:
          type: number
          description: The insurance plan number.
        description:
          type: string
          description: Description or number that identifies the plan or coverage.
        # Copied this over from Stripe. This is how they send date information
        start_date:
          type: integer
          format: unix-time
          description: The start date of the insurance plan.
        end_date:
          type: integer
          format: unix-time
          description: The end date of the insurnace plan.
        active:
          type: boolean
          description: Indicates whether a plan is active or not.
    Benefits:
      type: object
      additionalProperties: false
      description: TODO
      required:
        - name
        - type
      properties:
        service:
          $ref: "#/components/schemas/Service"
        type:
          type: string
          description: TODO
          enum:
            - active_coverage
            - active_full_risk_capitation
            - active_services_capitated
            - active_services_capitated_to_primary_care_physician
            - active_pending_investigation
            - inactive
            - inactive_pending_eligibility_update
            - inactive_pending_investigation
            - co_insurance
            - co_payment
            - deductible
            - benefit_description
            - exclusions
            - limitations
            - out_of_pocket_stop_loss
            - unlimited
            - non_covered
            - cost_containment
            - reserve
            - primary_care_provider
            - pre_existing_condition
            - services_restricted_to_following_provider
            - not_deemed_a_medical_necessity
            - benefit_disclaimer
            - second_surgical_opinion_required
            - other_or_additional_payor
            - prior_year_s_history
            - card_s_reported_lost_stolen
            - contact_following_entity_for_eligibility_or_benefit_information
            - cannot_process
            - other_source_of_data
            - health_care_facility
            - spend_down
            - patient_reimbursement
            - co_payment_maximum
            - co_insurance_maximum
            - coverage_basis
            - managed_care_coordinator
            - waiver
        coverage_level:
          type: string
          description: >- 
            The benefit coverage level. Ex: individual, dependents_only, etc.
          enum:
            - children_only
            - dependents_only
            - employee_and_one_dependent
            - employee_and_two_dependents
            - employee_and_three_dependents
            - employee_and_one_or_more_dependents
            - employee_and_two_or_more_dependents
            - employee_and_three_or_more_dependents
            - employee_and_four_or_more_dependents
            - employee_and_five_or_more_dependents
            - employee_and_children
            - employee_only
            - employee_and_spouse
            - family
            - individual
            - subscriber_and_1_child
            - subscriber_and_1_or_more_children
            - subscriber_and_2_or_more_children
            - spouse_and_children
            - spouse_only
            - subscriber_spouse_and_1_child
            - subscriber_spouse_and_1_or_more_children
            - subscriber_spouse_and_2_or_more_children
            - subscriber_and_spouse
            - two_party
        in_network:
          type: boolean
          description: >-
            A yes/no indicator that specifies whether or not services from the
            requested provider were provided within the health plan network or
            not.
        amount:
          type: integer
          description: >-
            This represents the total amount the patient is responsible for in cents. Ex: deductible,
            co-payment.
        percent:
          type: integer
          description: >-
            This represents the percentage amount the patient is responsible for out of 100. Ex:
            co-insurance.
        time_period:
          type: string
          description: >-
            The benefit billing period. This is to be used with the
            benefit_amount.
          enum:
            - chargeable_periods
            - periods_held
            - free_periods
            - saturdays_sundays_and_holidays
            - other_allowance_periods
            - hour
            - day
            - not_applicable
            - initial_visit
            - mutually_defined
            - six_hours
            - 12_hours
            - 18_hours
            - 24_hours
            - debit_days
            - credit_days
            - excess_days
            - hazardous_days
            - holidays
            - saturdays_and_sundays
            - sundays_and_holidays
            - years
            - service_year
            - calendar_year
            - year_to_date
            - contract
            - episode
            - visit
            - outlier
            - remaining
            - exceeded
            - not_exceeded
            - lifetime
            - lifetime_remaining
            - month
            - week
            - admission
            - three_months
    EligibilityInquiry:
      type: object
      additionalProperties: false
      description: >-
        A request for information from a payer about a health insurance policy's
        coverages, typically in relation to a particular subscriber.
      required:
        - id
        - provider
        - payer
        - subscriber
        - plan
        - benefits
      properties:
        id:
          type: string
          format: uuid
          description: A unique identifier.
        provider:
          $ref: '#/components/schemas/Provider'
        payer:
          $ref: '#/components/schemas/Payer'
        subscriber:
          $ref: '#/components/schemas/Subscriber'
        plan:
          $ref: '#/components/schemas/Plan'
        benefits:
          type: array
          items:
            $ref: '#/components/schemas/Benefits'
    Payer:
      type: object
      additionalProperties: false
      description: A health insurance carrier, which may offer more than one policy.
      required:
        - id
        - name
      properties:
        id:
          type: string
          format: uuid
          description: A unique identifier.
        name:
          type: string
          description: The name of the payer.
    Provider:
      type: object
      additionalProperties: false
      description: A healthcare provider organization that has been assigned an NPI.
      required:
        - organization_name
        - npi
      properties:
        # Is this necessary? If so, what do we do for individuals?
        organization_name:
          type: string
          description: The name of this provider organization.
        npi:
          type: string
          description: The provider organization's National Provider Identifier.
    Subscriber:
      type: object
      additionalProperties: false
      description: An individual member of a health insurance policy. An insured person.
      required:
        - first_name
        - last_name
        - member_id
        - gender
        - date_of_birth
      properties:
        first_name:
          type: string
          description: The insured person's first name, as it appears on their insurance card.
        last_name:
          type: string
          description: The insured person's last name, as it appears on their insurance card.
        member_id:
          type: string
          description: The insured person's member ID, as it appears on their insurance card.
        # Is this necessary? How does it relate to sex?
        gender:
          type: string
          description: The insured person's gender, as it appears on their insurance card.
        date_of_birth:
          type: string
          format: date
          description: The insured person's date of birth, as it appears on their insurance card.
    Encounter:
      type: object
      additionalProperties: false
      description: An object representing an encounter or interaction between a patient and provider, during which medical services may be performed.
      required:
        - date_of_service
        - service_type_codes
      properties:
        # Can this be a date in the future? What if you are checking eligibility in advance of a future appointment?
        date_of_service:
          type: string
          format: date
          description: The date of this particular patient encounter.
        service_type_codes:
          type: array
          description: A list of service type codes.
          items:
            type: string
            description: "A valid service type code from this list: https://x12.org/codes/service-type-codes"
    Error:
      type: object
      additionalProperties: false
      description: An object that is returned when an error has occured.
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: A unique error code indicating what went wrong.
        message:
          type: string
          description: A brief text description that expands upon this particular error code.
  responses:
    Default:
      description: A default error response if no other response is provided.
      content:
        "application/json":
          schema:
            $ref: "#/components/schemas/Error"
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: 'Basic HTTP authentication. To authenticate, please include this request header: "Authorization: Basic `<your-base64-encoded-API-key>`". If you are using a client that asks for a username and password (e.g. curl), provide your API key as the username and omit the password.'
security:
  - BasicAuth: []
