info:
  title: Opkit
  version: 1.0.0
  description: >-
    Opkit is a platform for collecting and verifying patient health insurance details.
  contact:
    email: founders@opkit.co
externalDocs:
  url: https://docs.opkit.co/
servers:
  - url: https://api.opkit.co/v1
tags:
  - name: Manual Eligibility Checks
  - name: Automated Eligibility Checks
  - name: Insurance Cards
  - name: Submissions
openapi: "3.0.0"
paths:
  /insurance_cards:
    get:
      summary: Get insurance cards
      tags:
        - Insurance Cards
      operationId: getInsuranceCards
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: submission_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: A list of insurance cards
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetInsuranceCardsResponse"
  /insurance_cards/{id}:
    get:
      summary: Get a single insurance card
      tags:
        - Insurance Cards
      operationId: getInsuranceCardsId
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: A single insurance card
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetInsuranceCardsIdResponse"
  /submissions:
    get:
      summary: Get submissions
      tags:
        - Submissions
      operationId: getSubmissions
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: A list of submissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSubmissionsResponse"
  /submissions/{id}:
    get:
      summary: Get a single submission
      tags:
        - Submissions
      operationId: getSubmissionsId
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: A single submission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSubmissionsIdResponse"
  /manual_eligibility_checks:
    get:
      summary: Get manual eligibility checks
      tags:
        - Manual Eligibility Checks
      operationId: getManualEligibilityChecks
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: insurance_card_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: submission_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: A list of manual eligibility checks
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetManualEligibilityChecksResponse"
  /manual_eligibility_checks/{id}:
    get:
      summary: Get a single manual eligibility check
      tags:
        - Manual Eligibility Checks
      operationId: getManualEligibilityChecksId
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: A single manual eligibility check
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetManualEligibilityChecksIdResponse"
  /automated_eligibility_checks:
    get:
      summary: Get automated eligibility checks
      tags:
        - Automated Eligibility Checks
      operationId: getAutomatedEligibilityChecks
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: insurance_card_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: submission_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: A list of automated eligibility checks
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAutomatedEligibilityChecksResponse"
  /automated_eligibility_checks/{id}:
    get:
      summary: Get a single automated eligibility check
      tags:
        - Automated Eligibility Checks
      operationId: getAutomatedEligibilityChecksId
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: A single automated eligibility check
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAutomatedEligibilityChecksIdResponse"
components:
  schemas:
    GetInsuranceCardsResponse:
      required:
        - items
        - count
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/InsuranceCard"
        count:
          type: number
        cursor:
          type: string
          format: uuid
    GetSubmissionsResponse:
      required:
        - items
        - count
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Submission"
        count:
          type: number
        cursor:
          type: string
          format: uuid
    GetAutomatedEligibilityChecksResponse:
      required:
        - items
        - count
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/AutomatedEligibilityCheck"
        count:
          type: number
        cursor:
          type: string
          format: uuid
    GetManualEligibilityChecksResponse:
      required:
        - items
        - count
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/AutomatedEligibilityCheck"
        count:
          type: number
        cursor:
          type: string
          format: uuid
    GetInsuranceCardsIdResponse:
      $ref: "#/components/schemas/InsuranceCard"
    GetSubmissionsIdResponse:
      $ref: "#/components/schemas/Submission"
    GetManualEligibilityChecksIdResponse:
      $ref: "#/components/schemas/ManualEligibilityCheck"
    GetAutomatedEligibilityChecksIdResponse:
      $ref: "#/components/schemas/AutomatedEligibilityCheck"
    ExtractionStatus:
      type: string
      enum: ["in_progress", "success", "failure"]
    PlanStatus:
      type: string
      enum: ["active", "inactive"]
    InsuranceCard:
      required:
        - id
        - submission_id
        - created_at
        - front_photo_download_url
        - back_photo_download_url
        - extraction_status
      properties:
        id:
          type: string
          format: uuid
        submission_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        front_photo_download_url:
          type: string
        back_photo_download_url:
          type: string
        extraction_status:
          $ref: "#/components/schemas/ExtractionStatus"
        finished_extraction_at:
          type: string
          format: date-time
        member_name:
          type: string
        member_id:
          type: string
        group_number:
          type: string
        insurance_carrier_name:
          type: string
        plan_name:
          type: string
        plan_status:
          $ref: "#/components/schemas/PlanStatus"
        # plan_status_updated_at:
        #   type: string
        #   format: date-time
        # last_eligibility_check:
        #   type: string
        #   format: date-time
        rx_bin:
          type: string
        rx_group:
          type: string
        rx_pcn:
          type: string
        dependent_names:
          type: array
          items:
            type: string
    Submission:
      required:
        - id
      properties:
        id:
          type: string
          format: uuid
    AutomatedEligibilityCheck:
      required:
        - id
        - created_at
        - insurance_card_id
        - provider_npi
        - subscriber_first_name
        - subscriber_last_name
        - subscriber_date_of_birth
        - subscriber_member_id
        - service_type_codes
        - benefits
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        insurance_card_id:
          type: string
          format: uuid
        provider_npi:
          type: string
        subscriber_first_name:
          type: string
        subscriber_last_name:
          type: string
        subscriber_date_of_birth:
          type: string
          format: date
          example: "2022-07-21"
        subscriber_member_id:
          type: string
        service_type_codes:
          type: array
          items:
            $ref: "#/components/schemas/X12ServiceTypeCode"
        benefits:
          type: array
          items:
            $ref: "#/components/schemas/AutomatedEligibilityCheckBenefit"
    AutomatedEligibilityCheckBenefit:
      required:
        - code
      properties:
        code:
          type: string
        coverage_level_code:
          type: string
        service_type_code:
          $ref: "#/components/schemas/X12ServiceTypeCode"
        insurance_type_code:
          type: string
        plan_coverage:
          type: string
        time_qualifier_code:
          type: string
        quantity_qualifier_code:
          type: string
        auth_or_cert_indicator:
          type: string
        in_plan_network_indicator_code:
          type: string
        header_loop_identifier_code:
          type: string
        trailer_loop_identifier_code:
          type: string
        code_list_qualifier_code:
          type: string
        additional_information:
          type: array
          items:
            type: string
        benefit_amount:
          type: integer
          format: int64
        benefit_percent:
          type: integer
          format: int64
        benefit_quantity:
          type: string
    ManualEligibilityCheck:
      required:
        - id
        - created_at
        - insurance_card_id
        - phone_number
        - provider_npi
        - subscriber_first_name
        - subscriber_last_name
        - subscriber_date_of_birth
        - subscriber_member_id
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        insurance_card_id:
          type: string
          format: uuid
        phone_number:
          type: string
        provider_npi:
          type: string
        subscriber_first_name:
          type: string
        subscriber_last_name:
          type: string
        subscriber_date_of_birth:
          type: string
          format: date
          example: "2022-07-21"
        subscriber_member_id:
          type: string
    X12ServiceTypeCode:
      type: string
      enum:
        - "1" # Medical Care
        - "2" # Surgical
        - "3" # Consultation
        - "4" # Diagnostic X-Ray
        - "5" # Diagnostic Lab
        - "6" # Radiation Therapy
        - "7" # Anesthesia
        - "8" # Surgical Assistance
        - "9" # Other Medical
        - "10" # Blood Charges
        - "11" # Used Durable Medical Equipment
        - "12" # Durable Medical Equipment Purchase
        - "13" # Ambulatory Service Center Facility
        - "14" # Renal Supplies in the Home
        - "15" # Alternate Method Dialysis
        - "16" # Chronic Renal Disease (CRD) Equipment
        - "17" # Pre-Admission Testing
        - "18" # Durable Medical Equipment Rental
        - "19" # Pneumonia Vaccine
        - "20" # Second Surgical Opinion
        - "21" # Third Surgical Opinion
        - "22" # Social Work
        - "23" # Diagnostic Dental
        - "24" # Periodontics
        - "25" # Restorative
        - "26" # Endodontics
        - "27" # Maxillofacial Prosthetics
        - "28" # Adjunctive Dental Services
        - "30" # Health Benefit Plan Coverage
        - "31" # Benefit Disclaimer
        - "32" # Plan Waiting Period
        - "33" # Chiropractic
        - "34" # Chiropractic Office Visits
        - "35" # Dental Care
        - "36" # Dental Crowns
        - "37" # Dental Accident
        - "38" # Orthodontics
        - "39" # Prosthodontics
        - "40" # Oral Surgery
        - "41" # Routine (Preventive) Dental
        - "42" # Home Health Care
        - "43" # Home Health Prescriptions
        - "44" # Home Health Visits
        - "45" # Hospice
        - "46" # Respite Care
        - "47" # Hospital
        - "48" # Hospital - Inpatient
        - "49" # Hospital - Room and Board
        - "50" # Hospital - Outpatient
        - "51" # Hospital - Emergency Accident
        - "52" # Hospital - Emergency Medical
        - "53" # Hospital - Ambulatory Surgical
        - "54" # Long Term Care
        - "55" # Major Medical
        - "56" # Medically Related Transportation
        - "57" # Air Transportation
        - "58" # Cabulance
        - "59" # Licensed Ambulance
        - "60" # General Benefits
        - "61" # In-vitro Fertilization
        - "62" # MRI/CAT Scan
        - "63" # Donor Procedures
        - "64" # Acupuncture
        - "65" # Newborn Care
        - "66" # Pathology
        - "67" # Smoking Cessation
        - "68" # Well Baby Care
        - "69" # Maternity
        - "70" # Transplants
        - "71" # Audiology Exam
        - "72" # Inhalation Therapy
        - "73" # Diagnostic Medical
        - "74" # Private Duty Nursing
        - "75" # Prosthetic Device
        - "76" # Dialysis
        - "77" # Otological Exam
        - "78" # Chemotherapy
        - "79" # Allergy Testing
        - "80" # Immunizations
        - "81" # Routine Physical
        - "82" # Family Planning
        - "83" # Infertility
        - "84" # Abortion
        - "85" # AIDS
        - "86" # Emergency Services
        - "87" # Cancer
        - "88" # Pharmacy
        - "89" # Free Standing Prescription Drug
        - "90" # Mail Order Prescription Drug
        - "91" # Brand Name Prescription Drug
        - "92" # Generic Prescription Drug
        - "93" # Podiatry
        - "94" # Podiatry - Office Visits
        - "95" # Podiatry - Nursing Home Visits
        - "96" # Professional (Physician)
        - "97" # Anesthesiologist
        - "98" # Professional (Physician) Visit - Office
        - "99" # Professional (Physician) Visit - Inpatient
        - "A0" # Professional (Physician) Visit - Outpatient
        - "A1" # Professional (Physician) Visit - Nursing Home
        - "A2" # Professional (Physician) Visit - Skilled Nursing Facility
        - "A3" # Professional (Physician) Visit - Home
        - "A4" # Psychiatric
        - "A5" # Psychiatric - Room and Board
        - "A6" # Psychotherapy
        - "A7" # Psychiatric - Inpatient
        - "A8" # Psychiatric - Outpatient
        - "A9" # Rehabilitation
        - "AA" # Rehabilitation - Room and Board
        - "AB" # Rehabilitation - Inpatient
        - "AC" # Rehabilitation - Outpatient
        - "AD" # Occupational Therapy
        - "AE" # Physical Medicine
        - "AF" # Speech Therapy
        - "AG" # Skilled Nursing Care
        - "AH" # Skilled Nursing Care - Room and Board
        - "AI" # Substance Abuse
        - "AJ" # Alcoholism
        - "AK" # Drug Addiction
        - "AL" # Vision (Optometry)
        - "AM" # Frames
        - "AN" # Routine Exam
        - "AO" # Lenses
        - "AQ" # Nonmedically Necessary Physical
        - "AR" # Experimental Drug Therapy
        - "B" # Non-escrow or Non-impound Service
        - "B1" # Burn Care
        - "B2" # Brand Name Prescription Drug - Formulary
        - "B3" # Brand Name Prescription Drug - Non-Formulary
        - "BA" # Independent Medical Evaluation
        - "BB" # Partial Hospitalization (Psychiatric)
        - "BC" # Day Care (Psychiatric)
        - "BD" # Cognitive Therapy
        - "BE" # Massage Therapy
        - "BF" # Pulmonary Rehabilitation
        - "BG" # Cardiac Rehabilitation
        - "BH" # Pediatric
        - "BI" # Nursery
        - "BJ" # Skin
        - "BK" # Orthopedic
        - "BL" # Cardiac
        - "BM" # Lymphatic
        - "BN" # Gastrointestinal
        - "BP" # Endocrine
        - "BQ" # Neurology
        - "BR" # Eye
        - "BS" # Invasive Procedures
        - "BT" # Gynecological
        - "BU" # Obstetrical
        - "BV" # Obstetrical/Gynecological
        - "BW" # Mail Order Prescription Drug: Brand Name
        - "BX" # Mail Order Prescription Drug: Generic
        - "BY" # Physician Visit - Office: Sick
        - "BZ" # Physician Visit - Office: Well
        - "C" # Escrow or Impound Service
        - "C1" # Coronary Care
        - "CA" # Private Duty Nursing - Inpatient
        - "CB" # Private Duty Nursing - Home
        - "CC" # Surgical Benefits - Professional (Physician)
        - "CD" # Surgical Benefits - Facility
        - "CE" # Mental Health Provider - Inpatient
        - "CF" # Mental Health Provider - Outpatient
        - "CG" # Mental Health Facility - Inpatient
        - "CH" # Mental Health Facility - Outpatient
        - "CI" # Substance Abuse Facility - Inpatient
        - "CJ" # Substance Abuse Facility - Outpatient
        - "CK" # Screening X-ray
        - "CL" # Screening laboratory
        - "CM" # Mammogram, High Risk Patient
        - "CN" # Mammogram, Low Risk Patient
        - "CO" # Flu Vaccination
        - "CP" # Eyewear and Eyewear Accessories
        - "CQ" # Case Management
        - "DG" # Dermatology
        - "DM" # Durable Medical Equipment
        - "DS" # Diabetic Supplies
        - "GF" # Generic Prescription Drug - Formulary
        - "GN" # Generic Prescription Drug - Non-Formulary
        - "GY" # Allergy
        - "IC" # Intensive Care
        - "MH" # Mental Health
        - "NI" # Neonatal Intensive Care
        - "ON" # Oncology
        - "PT" # Physical Therapy
        - "PU" # Pulmonary
        - "RN" # Renal
        - "RT" # Residential Psychiatric Treatment
        - "TC" # Transitional Care
        - "TN" # Transitional Nursery Care
        - "UC" # Urgent Care
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        The Opkit API uses the HTTP Bearer Token scheme for authentication. You should provide your API key in the Authorization header like so: "Authorization: Bearer \<api-key\>".
security:
  - bearerAuth: []
