{
    "info": {
        "title": "Opkit",
        "version": "1.0.0",
        "description": "Opkit is a platform for collecting and verifying patient health insurance details.",
        "contact": {
            "email": "founders@opkit.co"
        }
    },
    "externalDocs": {
        "url": "https://docs.opkit.co/"
    },
    "servers": [
        {
            "url": "https://api.opkit.co/v1"
        }
    ],
    "tags": [
        {
            "name": "Manual Eligibility Checks"
        },
        {
            "name": "Automated Eligibility Checks"
        },
        {
            "name": "Insurance Cards"
        },
        {
            "name": "Submissions"
        }
    ],
    "openapi": "3.0.0",
    "paths": {
        "/insurance_cards": {
            "get": {
                "summary": "Get insurance cards",
                "tags": [
                    "Insurance Cards"
                ],
                "operationId": "getInsuranceCards",
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "submission_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of insurance cards",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetInsuranceCardsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/insurance_cards/{id}": {
            "get": {
                "summary": "Get a single insurance card",
                "tags": [
                    "Insurance Cards"
                ],
                "operationId": "getInsuranceCardsId",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single insurance card",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetInsuranceCardsIdResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/submissions": {
            "get": {
                "summary": "Get submissions",
                "tags": [
                    "Submissions"
                ],
                "operationId": "getSubmissions",
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of submissions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetSubmissionsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/submissions/{id}": {
            "get": {
                "summary": "Get a single submission",
                "tags": [
                    "Submissions"
                ],
                "operationId": "getSubmissionsId",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single submission",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetSubmissionsIdResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/manual_eligibility_checks": {
            "get": {
                "summary": "Get manual eligibility checks",
                "tags": [
                    "Manual Eligibility Checks"
                ],
                "operationId": "getManualEligibilityChecks",
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of manual eligibility checks",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetManualEligibilityChecksResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/manual_eligibility_checks/{id}": {
            "get": {
                "summary": "Get a single manual eligibility check",
                "tags": [
                    "Manual Eligibility Checks"
                ],
                "operationId": "getManualEligibilityChecksId",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single manual eligibility check",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetManualEligibilityChecksIdResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/automated_eligibility_checks": {
            "get": {
                "summary": "Get automated eligibility checks",
                "tags": [
                    "Automated Eligibility Checks"
                ],
                "operationId": "getAutomatedEligibilityChecks",
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of automated eligibility checks",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAutomatedEligibilityChecksResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/automated_eligibility_checks/{id}": {
            "get": {
                "summary": "Get a single automated eligibility check",
                "tags": [
                    "Automated Eligibility Checks"
                ],
                "operationId": "getAutomatedEligibilityChecksId",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single automated eligibility check",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAutomatedEligibilityChecksIdResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "GetInsuranceCardsResponse": {
                "required": [
                    "items",
                    "count"
                ],
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/InsuranceCard"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "cursor": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            },
            "GetSubmissionsResponse": {
                "required": [
                    "items",
                    "count"
                ],
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Submission"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "cursor": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            },
            "GetAutomatedEligibilityChecksResponse": {
                "required": [
                    "items",
                    "count"
                ],
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AutomatedEligibilityCheck"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "cursor": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            },
            "GetManualEligibilityChecksResponse": {
                "required": [
                    "items",
                    "count"
                ],
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AutomatedEligibilityCheck"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "cursor": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            },
            "GetInsuranceCardsIdResponse": {
                "$ref": "#/components/schemas/InsuranceCard"
            },
            "GetSubmissionsIdResponse": {
                "$ref": "#/components/schemas/Submission"
            },
            "GetManualEligibilityChecksIdResponse": {
                "$ref": "#/components/schemas/ManualEligibilityCheck"
            },
            "GetAutomatedEligibilityChecksIdResponse": {
                "$ref": "#/components/schemas/AutomatedEligibilityCheck"
            },
            "InsuranceCard": {
                "required": [
                    "id"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            },
            "Submission": {
                "required": [
                    "id"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            },
            "AutomatedEligibilityCheck": {
                "required": [
                    "id"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            },
            "ManualEligibilityCheck": {
                "required": [
                    "id"
                ],
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            }
        },
        "securitySchemes": {
            "BasicAuth": {
                "type": "http",
                "scheme": "basic",
                "description": "The Opkit API uses HTTP Basic Auth for authentication. You should provide your API key in the Authorization header like so: \"Authorization: Bearer <api-key>\"."
            }
        }
    },
    "security": [
        {
            "BasicAuth": []
        }
    ]
}
